<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/reg_auth.css">
    <title>Авторизация</title>

</head>
<body>
    <div class="main_wrapper">
     <form method="post" class="form-control">
                     <div class="form_wrapper">
                         <t1>Авторизация</t1>
                            {% for msg in get_flashed_messages() %}
                             <div class="flash">{{msg}}</div>
                         {%endfor%}
                    <input type="text" name="email" placeholder="Введите ваш email" class="email_form" onkeydown="if(event.keyCode==13){return false;}"><br>
                    <input type="password" name="password" placeholder="Введите Пароль" class="password_form" onkeydown="if(event.keyCode==13){return false;}"><br>
                    <button class="btn btn-success" type="submit">Войти</button>
                         </div>
                </form>
  </div>
</body>
</html>