<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Попов Семён Николаевич</title>
</head>
<body>

       {% if current_user.is_authenticated %}
       
        {% include 'header_auth_user.htm' %}
  {% else %}
    {% include 'header_non_auth.htm' %}
  {% endif %}

{%block content%}
{%endblock%}

<footer>
    <div class="footer_wrap">
     © коммерческая тайна сохранена. Будьте здоровы!
    </div>
</footer>
</body>
</html>