<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <header class="header">
            <a href="/">
                <img src="{{url_for('static',filename='img/logo.png')}}" class="logo">
            </a>
            <nav>
                <ul>
                    <div class="li_wrapper">
                        <li><a href="/">Каталог</a></li>

                        <li><a href="/to_basket">Корзина</a></li>
                        <li><a href="/logout">Выйти</a></li>

                    </div>
                </ul>
            </nav>
        </header>
    </section>
</body>
</html>