<!DOCTYPE html>
<html lang="en">
<html>




<body>

    <script>
        function get_len() {
            $.ajax({
                type: "POST",
                url: "/get_len",
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    var json = jQuery.parseJSON(response)
                    $('#len').html(json.len)
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
    </script>
<div class="item_card">
    {%set file_name= item_p.pic_url %}
    <img src="{{ url_for('static', filename=file_name) }}" height="200px" width="200px" id="item_image"/>
    <div class="item_card_text">
        <h1 id="item_id">Код товара:{{item_p.id}}</h1>
        <h1 id="item_name">Наименование товара:{{item_p.name}}
        <h1 id="item_price">Цена товара:{{item_p.price}} руб.</h1>
        <h1 id="item_description">Описание товара:{{item_p.description}}</h1>
        <h1 id="item_sctructure">Состав товара:{{item_p.structure}}</h1>
        <h1 id="item_date_of_manufacture">Дата изготовления:{{item_p.date_of_manufacture}}</h1>
        <h1 id="item_storage_life">Срок хранения:{{item_p.storage_life}} д.</h1>
       

        <form action="/get_len" method="post" name="form">
            <input type="number" name="quantity" placeholder="Введите кол-во товара" class="quantity_form">
            <button class="btn_success"  type="submit" id="test" onclick="get_len()" >Добавить в корзину</button>
            <button class="btn btn_reset" type="reset">Сбросить</button>
        </form>
       
     
        
    </div>

</div>
</body>
</html>